@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pages {
    @apply bg-white px-6 md:px-16 2xl:px-72 min-h-screen;
  }
}

/* * {
  border: 1px solid black;
} */

.custom-shape-divider-bottom-1724919880 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1724919880 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1724919880 .shape-fill {
  fill: #675527;
}

/* styles/globals.css atau styles/ProfileDesa.module.css */
.typing-animation {
  overflow: hidden; /* Ensures the content is hidden while typing */
  border-right: 0.15em solid orange; /* The cursor */
  animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

